/backup
/backup
/backup
data/bbased.o
/data/bug
/data/bunch
/data/business
data/dbased.o
data/familyd.o
/data/item
data/named.o
data/newsd.o
/data/npc
data/pinfo.o
/data/room
data/securityd.o
data/storage.o
data/storyd.o
/data/template
/data/warcraft
/data/business
