------------------------------------------------------------
$BBLU$$HIM$                        【遊戲規則】                        $NOR$
------------------------------------------------------------

    本遊戲改編自「俠客行」，原是建立在「東方故事Ⅱ」MUDLIB上
的一個ＭＵＤ，我們的目的是為廣大在ＩＮＴＥＲＮＥＴ上玩的，能
夠讀寫漢字的朋友們提供一個消遣時間，談天說地的地方。當然，就
象其他的ＭＵＤ一樣，我們需要一套規則來保證遊戲能夠正常運行，
玩家們能玩的高興。不願意遵守以下規則的朋友請勿加入本遊戲，謝
謝。

$HIR$  ＊    嚴禁任何損害NITAN3的行為，違者將全線殺檔。
  ＊    嚴禁通過任何方式攻擊遊戲程序、攻擊遊戲服務器或者主頁
        服務器，違者全線殺檔，泥潭保留追究其法律責任的權利。
  ＊    嚴禁任何威脅將攻擊本遊戲的言語，違者全線殺檔。
  ＊    嚴禁在本遊戲中討論敏感的政治話題，嚴禁宣揚封建、黃色
        反動的言論，違者將嚴肅處理。
  ＊    玩家的ID自己保管，對於將ID給別人使用而導致的一切損失，
        由玩家自己承擔。對於因為ID失竊而導致的一切損失，巫師
        沒有任何補償的義務。
  ＊    由於系統原因造成的當機，導致玩家受到的任何損失，巫師
        沒有任何彌補的義務。
  ＊    禁止在任何頻道或ＰＯＳＴ中辱罵任何一位巫師或玩家。如
        果為了表達自己的憤怒與不屑，請用 $NOR$$HIY$tell$NOR$$HIR$ 或 $NOR$$HIY$whisper$NOR$$HIR$。請
        注意：巫師不會對使用 $NOR$$HIY$tell$NOR$$HIR$ 或 $NOR$$HIY$whisper$NOR$$HIR$  的交談內容進行
        任何管理，如果他人和你的私人交談中含有任何不雅字眼而
        $HIR$你進行公開宣揚的話，巫師將會認為你違反規則而進行處理。
  ＊    禁止任何ＦＬＯＯＤ，凡是散佈沒有用處的信息或是反覆散
        布相同的信息都被認為是ＦＬＯＯＤ。如果你需要發佈物品
        買賣廣告或是其它類似的重複信息，請使用 bill 頻道。如
        果需要其它玩家的幫助，請使用 sos 頻道。 禁止使用其他
        任何頻道散佈重複累贅的信息。
  ＊    ＦＬＯＯＤ行為第一次給予警告，警告不聽者就要受到6-12
        小時的懲罰。
  ＊    禁止濫用投票權騷擾任何玩家。
  ＊    在公共場合發佈有傷風化的言語，給予60分鐘-3天不等的坐
        牢懲罰，並且不能保釋，請各位玩家自重。
  ＊    禁止有意散佈讓玩家容易誤會的信息。
  ＊    禁止使用易引起混亂、誤解或不雅觀的中、英文名字。
  ＊    禁止利用系統的錯誤或缺陷干擾遊戲秩序，騷擾其他玩家。
  ＊    使用ＢＵＧ牟利，巫師有權收回非法所得。
  ＊    允許互相ＰＫ，下毒，搶劫，行竊。
  ＊    嚴禁向任何巫師提出任何無理要求，比如修改屬性或者索取
        物品等，違者將嚴肅處理。
  ＊    所有巫師除了必須遵守以上規則外，還要遵守wizrules。天
        神會保留對犯規行為採取任何處理辦法的權利。$NOR$


    凡是違反明確禁止的條款的ID，可以導致被踢出、監禁、刪除檔
案的任何一種處理。其它情況採用具體的解決辦法，但是不會採用上
述這三種嚴厲的手段。如果違反規則，巫師可以不給出警告直接進行
處理。

    泥潭巫師組保留所有對上述規則的解釋權和執行權，保留所有對
不在上述規則範圍內其它行為的解釋權和處理權。

                                               【泥潭巫師組】
